* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

.conteiner {
  width: 100%;
  height: 100vh;
}

.content {
    width: 100%;
    height: 100%;
    margin:  0 auto;
    display: flex;
    background-color: gray;
   padding-top: 260px;
}

.soz{
    width: 100%;
    height: 150px;
    background-color: white;
    padding-top: 20px;
    
    
}
.s{
    width: 100%px;

    padding-top: 25px;
    padding-left: 350px;
    font-size: 26px;
}

button:disabled {
    border-color: red;
    color: red;
}

.conteiner .content h1 {
    cursor: pointer;
}

.conteiner .content h1::after {
    
    content: "|";
    width: 100%;
    height: 50x;
    font-size: 60px;
    padding-top: 0px;
    background-color: white;
    display: block;
    position: absolute;
    left: 1px;
    top: 298px;
    transition: 4s all;
}

.conteiner .content h1:hover::after {
    
    left: 155% ;
}

